@import "post_page.css";

.see-course {
    text-decoration: none;
    color: white;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #40BB95;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.see-course:hover {
    background-color: #40BB95;
}